
<div>
	<script>
        var chat_room_name = '{{ room.title }}';
        var chat_user_name = '{{ user.username }}';
        var timestamp = {% now "U" %} * 1000000 + {% now "u" %};
    </script>

    <div>
        <h3>{{ user.username }} @ {{ room.title }}</h3>
        <input id="id_msg" name="msg" value="" placeholder="say something here ..." >
    </div>
    <ul id="id_chats">
    </ul>
    <script>
    $(function(){

        function change_title(old_name, new_name, timeout){
            document.title = new_name;
            ct = setTimeout(function(){change_title(new_name, old_name, timeout)}, timeout);
        }

        function title_controller(){
            $this = this;

            this.is_start = false;

            this.start = function(old_name, new_name, timeout){
                if($this.is_start){
                    $this.stop();
                    $this.is_start = true;
                    change_title(old_name, new_name, timeout);
                }else{
                    $this.is_start = true;
                    change_title(old_name, new_name, timeout);
                }
            }

            this.stop = function(){
                $this.is_start = false;
                if(typeof(ct) != "undefined"){
                    clearTimeout(ct);
                    document.title = origin_title;
                }
            }
        }
        if(typeof(tclr) != "undefined"){
            if(tclr.stop){
                tclr.stop();
                tclr = {};
            }
        }
        var tclr = new title_controller();
		
		var chatroom_uuid = "{{room.uuid}}";
		var ack = -1;
		var user_erl_sess_process_id;
		var display_name_dict = {};
		
		function join_chatroom(e){
			$.ajax({
			    url : '{% url join-chatroom %}',
			    type: 'POST',
			    data: {chatroom_uuid:chatroom_uuid},
			    dataType : 'json',
			    success : function (result) {
					link_chatserver();
			    }
			});
		}

		function poll(uuid){
			polling_request = $.ajax({
			    url : '/runtime/poll/',
			    type: 'POST',
			    data: {ack:ack, id:uuid},
			    dataType : 'json',
			    success : function (result) {
					ack = result.seq;
					if (result.messages.length != 0){
						var from_chatroom_id = result.messages[0].key;
						if (from_chatroom_id == chatroom_uuid){
							var message = result.messages[0].content;
							var sender_id = result.messages[0].sender_uuid;
							var sender_name = display_name_dict[from_chatroom_id][sender_id];
							$("#id_chats").prepend(sender_name+": "+message+"<br/>");
						}						
					}
					poll(uuid);
			    }
			});
		}

		function link_chatserver(e){
			$.ajax({
			    url : '/runtime/start/',
			    type: 'POST',
			    data: {pid:"{{user.get_profile.get_uuid}}", joins:[chatroom_uuid], subscribes:[]},
			    dataType : 'json',
			    success : function (result) {
					user_erl_sess_process_id=result.uuid;
					for (var i in result.chats){
						each_chatroom = result.chats[i];
						display_name_dict[each_chatroom.chat] = {};
						for (var j in each_chatroom.participants){
							each_part = each_chatroom.participants[j];
							var part_uuid = each_part.uuid;
							display_name_dict[each_chatroom.chat][part_uuid] = each_part.display_name;
						}
					}
					poll(uuid=result.uuid);
			    }
			});
		}

		function send_message(){
		            $.ajax({
		                url: '/runtime/message/',
		                type: 'POST',
		                data: {id:user_erl_sess_process_id, chatid:chatroom_uuid, msg:$('#id_msg').val()},
		                dataType: 'html',
		                success: function(data){
		                    $('#id_msg').val('');
		                }
		            });
		        }

		$('#id_msg').keypress(function(e){
		    var code = (e.keyCode ? e.keyCode : e.which);
		    if(code==13){
		        send_message();
		    }
		}).focus(function(e){
		    if(typeof(tclr) != "undefined")
		        if(tclr.stop)
		            tclr.stop();
		});
		
		join_chatroom();
		


    });
    </script>
</div>

