[

  {glchat, [

    {http, [
      {port, 8096},

      {proto_opts, [
        {dispatch, [{'_', [{'_', glchat_http, []}]}]},
        {timeout, 40000}
      ]},

      {poll_timeout, 30000},
      {session_timeout, 45000},

      {static, "apps/glchat/priv/static"},
      {templates, "apps/glchat/priv/templates"}
    ]},

    {httpapi, [
      {port, 8098},

      {proto_opts, [
        {dispatch, [{'_', [{'_', glchat_httpapi, []}]}]},
        {timeout, 1000000}
      ]}
    ]},

    {mongo, [
      %{hosts, ["gulu-prod-mongo-1.gulu.com:27017", "gulu-prod-mongo-2.gulu.com:27017", "gulu-prod-mongo-3.gulu.com:27017"]},
      %{hosts, ["ec2-50-19-127-68.compute-1.amazonaws.com:27017"]},
      {hosts, ["localhost:27017"]},
      {db, <<"leet1337">>}
    ]},

    {chat, [
      {idle_time, 60},
      {inactive_time, 60}
    ]},

    {mail, [
      {relay, "localhost"},
      {parser, "apps/glchat/priv/parser/parsemail.py"}
    ]},

    {logging, [
      {log_file, "logs/debug.log"}
    ]}

  ]},
  
  {lager, [
   {handlers, [
     {lager_console_backend, info},
     {lager_file_backend, [{"log/error.log", error}, {"log/console.log", info}]}
    ]}
  ]}

].
