[

  {glchat, [

    {http, [
      {port, 8096},

      {proto_opts, [
        {dispatch, [{'_', [{'_', glchat_http, []}]}]},
        {timeout, 40000}
      ]},

      {poll_timeout, 30000},
      {session_timeout, 45000},

      {static, "lib/glchat-2/priv/static"},
      {templates, "lib/glchat-2/priv/templates"}
    ]},

    {httpapi, [
      {port, 8098},

      {proto_opts, [
        {dispatch, [{'_', [{'_', glchat_httpapi, []}]}]},
        {timeout, 1000000}
      ]}
    ]},

    {mongo, [
      {hosts, ["gulu-prod-mongo-1.gulu.com:27017", "gulu-prod-mongo-2.gulu.com:27017", "gulu-prod-mongo-3.gulu.com:27017"]},
      {db, <<"gulu">>}
    ]},

    {chat, [
      {idle_time, 60},
      {inactive_time, 60}
    ]},

    {mail, [
      {relay, "localhost"},
      {parser, "lib/glchat-2/priv/parser/parsemail.py"}
    ]}

  ]},
  
  {apns, [
    {cert_file, "/home/gulu/gulu/gulu/configs/staging/ck_development.pem"},
    {apple_host, "gateway.sandbox.push.apple.com"},
    {feedback_host, "feedback.sandbox.push.apple.com"},
    % {cert_file, "/home/gulu/gulu/gulu/configs/production/ck_production.pem"},
    % {apple_host, "gateway.push.apple.com"},
    % {feedback_host, "feedback.push.apple.com"},

    {feedback_timeout, 900000}
  ]},

 {lager, [
   {handlers, [
     {lager_console_backend, info},
     {lager_file_backend, [{"log/error.log", error}, {"log/console.log", info}]}
   ]}
 ]}

].

