{sys, [
       {lib_dirs, ["../apps", "../deps"]},
       {rel, "glchatnode", "2",
        [
         kernel,
         stdlib,
         glchat
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "glchatnode"},
       {excl_archive_filters, ["^include$","^priv$","^ebin$"]},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, glchat, [{incl_cond, include}]}
      ]}.

{target_dir, "glchatnode"}.

{overlay, [
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/glchatnode", "bin/glchatnode"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
