[

  {ltchat, [

    {http, [
      {port, 8096},

      {proto_opts, [
        {dispatch, [{'_', [{'_', ltchat_http, []}]}]},
        {timeout, 40000}
      ]},

      {poll_timeout, 30000},
      {session_timeout, 45000}

    ]},

    {httpapi, [
      {port, 8098},

      {proto_opts, [
        {dispatch, [{'_', [{'_', ltchat_httpapi, []}]}]},
        {timeout, 1000000}
      ]}
    ]},

    {mongo, [
      {hosts, ["localhost:27017"]},
      {db, <<"leet1337">>}
    ]},

    {chat, [
      {idle_time, 60},
      {inactive_time, 60}
    ]},

    {logging, [
      {log_file, "logs/debug.log"}
    ]}

  ]},
  
  {lager, [
   {handlers, [
     {lager_console_backend, info},
     {lager_file_backend, [{"log/error.log", error}, {"log/console.log", info}]}
    ]}
  ]}

].
